processors 4 2 1

label MainLoop

clear
variable loopCounter loop {{ events }} ## Total Events ##
variable seed equal {{ seed }} # Random Seed
variable Qtemp equal 300 # Kelvin
variable tstep equal 0.001 # ps
variable tdamp equal 0.1 # ps
variable relax_run equal 10000 # 10ps
variable nvt_run equal 1000 # 1ps
variable nve_run equal 1000 # 1ps

dimension 3
units metal
atom_style charge
boundary p p f
newton on

read_data {{ substrate_file }}

# Masses
{% for type_id, mass in masses.items() %}
mass {{ type_id }} {{ mass }}
{% endfor %}

# Load Molecule Template
{% if molecule_file %}
molecule {{ molecule_id }} {{ molecule_file }}
{% endif %}

# Box variables
variable lx equal lx
variable ly equal ly
variable lz equal lz
variable zhi equal zhi
variable zcut equal 70

# Regions (Dynamic based on lattice constant 'c' and bulk height 'lz1')
region bot block INF INF INF INF 0 {{ c }} units box
region thermos block INF INF INF INF {{ c }} 35.0 units box
region boxOut block INF INF INF INF ${zcut} ${lz} units box

# Incident Region: 30A above zhi
variable z_in equal v_zhi-30
variable z_in_hi equal v_z_in+1
region sput block 0 ${lx} 0 ${ly} ${z_in} ${z_in_hi} units box

# Reflection Check
region reflOut block INF INF INF INF {{ lz1 + 1 }} ${lz} units box

# Groups
group fbot region bot
group fthermo region thermos
group addatom type {{ projectile_type }}
group other subtract all fbot fthermo addatom

# Potential
{{ potential_commands }}

# Neighbor
neighbor 2.5 bin
neigh_modify every 1 delay 0 check yes

# Computes & Variables
compute Cvel all property/atom vx vy vz
variable pavx atom c_Cvel[1]
variable pavy atom c_Cvel[2]
variable pavz atom c_Cvel[3]
variable speed atom sqrt(v_pavx^2+v_pavy^2+v_pavz^2+1e-20)
variable theta atom acos(v_pavz/v_speed)*180/PI
variable phi atom atan2(v_pavy,v_pavx)*180/PI
compute KE all ke/atom
variable ke atom c_KE
variable vxout atom c_Cvel[1]
variable vyout atom c_Cvel[2]
variable vzout atom c_Cvel[3]

timestep ${tstep}
thermo 500

# Substrate Temp Monitor
group gSubstrate type {{ substrate_types }}
compute Tsubstrate gSubstrate temp
thermo_style custom step pe ke etotal temp c_Tsubstrate vol press

# Fix Bottom
fix s1 fbot setforce 0 0 0

# Full Trajectory Dump (Enabled for Test)
dump dAll all custom 500 traj.dump id type x y z v_pavx v_pavy v_pavz v_ke
dump_modify dAll append yes sort id

velocity all create ${Qtemp} 4928459 dist gaussian loop geom

fix f1 other nvt temp ${Qtemp} ${Qtemp} ${tdamp}
fix f2 fthermo nvt temp ${Qtemp} ${Qtemp} ${tdamp}
fix f3 addatom nve
run ${relax_run}
unfix f1
unfix f2
unfix f3

# ----------------- Inner Loop -----------------
label SubLoop
variable subCounter loop 10

# Delete previous projectiles
delete_atoms group addatom
group addatom clear
group addatom type {{ projectile_type }}

# ----------------- Incident Parameters -----------------
variable evt equal (v_loopCounter-1)*10+v_subCounter
variable block equal floor((v_evt-1)/10000)
variable seed_eff equal ${seed}+10000*v_block+v_evt

# Energy Distribution (Random 0.1 to {{ max_energy }} eV)
variable Qe1 equal random(0.1,{{ max_energy }},${seed_eff})
variable E_in atom v_Qe1

# Angle Distribution
variable Iangl equal random(0.0,89.0,${seed_eff}+1)
variable IanglP equal random(0.0,360.0,${seed_eff}+2)
variable anglR equal v_Iangl/180*PI
variable anglP equal v_IanglP/180*PI

# Velocity Calculation
variable EnergyinJ1 equal v_Qe1*1.602176634E-19
variable IonVelocityMean1 equal -sqrt(2*v_EnergyinJ1/({{ projectile_mass }}*1.66054e-27))/1e2

variable vx equal v_IonVelocityMean1*sin(v_anglR)*cos(v_anglP)*(-1)
variable vy equal v_IonVelocityMean1*sin(v_anglR)*sin(v_anglP)*(-1)
variable vz equal v_IonVelocityMean1*cos(v_anglR)

variable RandNfsub equal floor(random(1,1000000,${seed_eff}+3))

# ----------------- Atom Insertion -----------------
# Using molecule file for insertion if specified, else single atom
fix fh addatom deposit 1 0 1 ${RandNfsub} region sput near 3 vx ${vx} ${vx} vy ${vy} ${vy} vz ${vz} ${vz} units box {% if molecule_file %}mol {{ molecule_id }} {% endif %}
thermo_modify lost ignore flush yes
run 1
unfix fh

# Snapshot Incident
group addatom type {{ projectile_type }}
dump dInc addatom custom 1 incident.dump x y z v_pavx v_pavy v_pavz v_E_in v_speed v_theta v_phi
dump_modify dInc append yes
run 0
undump dInc

# ----------------- NVE 500 Steps -----------------
fix f1 other nve
fix f2 fthermo nve
fix f3 addatom nve
run ${nve_run}
unfix f1
unfix f2
unfix f3

# ----------------- NVT 500 Steps -----------------
fix f1 other nvt temp ${Qtemp} ${Qtemp} ${tdamp}
fix f2 fthermo nvt temp ${Qtemp} ${Qtemp} ${tdamp}
fix f3 addatom nve
run ${nvt_run}
unfix f1
unfix f2
unfix f3

# ----------------- Output Recording -----------------
group gSub type {{ substrate_types }}
group gOut region boxOut
group gSputtered intersect gOut gSubstrate
group gReflOut region reflOut
group gReflected intersect gReflOut addatom

dump dRefl gReflected custom 1 reflected.dump id type x y z v_vxout v_vyout v_vzout v_ke
dump dSput gSputtered custom 1 sputtered.dump id type x y z v_vxout v_vyout v_vzout v_ke
dump_modify dRefl append yes
dump_modify dSput append yes
run 0
undump dRefl
undump dSput

# Cleanup
delete_atoms group gOut
group gSub clear
group gOut clear
group gReflected clear
group gSputtered clear

next subCounter
jump SELF SubLoop

next loopCounter
jump SELF MainLoop
