#!/bin/bash
#SBATCH -J {{ job_name }}
#SBATCH -p {{ partition | default('96core') }}
#SBATCH -N {{ nodes | default(1) }}
#SBATCH -n {{ cores | default(48) }}
#SBATCH -o %x.o%j
#SBATCH -e %x.e%j

export I_MPI_PMI_LIBRARY=/usr/lib64/libpmi.so

TIME_LOG="time_log_${SLURM_JOB_ID}.txt"
echo "Start time: $(date)" > $TIME_LOG

# LAMMPS Execution
mpirun -np {{ cores | default(48) }} {{ lammps_binary }} -in {{ input_script }}

echo "End time: $(date)" >> $TIME_LOG
